.galleryContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    min-height: 100vh;
}

.transitionOne {
    background: linear-gradient(to bottom, white, #c4a986);
    padding-bottom: 2.5rem;
}

.transitionTwo {
    background: linear-gradient(to bottom, #c4a986, black);
    padding-bottom: 2.5rem;
}

.galleryItemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: black;
    flex-grow: 1;
    padding: 1rem;
    justify-content: center;
}

.galleryItem {
    width: 350px;
    height: 272px;
    text-align: center;
    background-color: white;
    box-shadow: 4px 4px 0 lightgrey;
    cursor: pointer;
    overflow: hidden;
}

.galleryItem img {
    width: 350px;
    height: 200x;
    align-self: center;
}

.galleryItem:hover {
    filter: brightness(80%);
}

.galleryItem:hover img {
    filter: brightness(80%);
    animation: 0.5s galleryHover ease-in-out forwards;
}

.galleryItem:hover h2 {
    animation: 0.5s h2Lift ease-in-out forwards;
}

@keyframes galleryHover {
    0% {
        width: 350px;
        height: 200px;
        transform: translateX(0) translateY(0);
    }
    100% {
        width: 375px;
        height: 214px;
        transform: translateX(-12.5px) translateY(-14px);
    }
}

@keyframes h2Lift {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-14px);
    }
}