<div class="galleryContainer">
    <div class="text">
        <h1>Home Renovations Gallery</h1>
    </div>
    <div class="transitionOne"></div>
    <div class="transitionTwo"></div>
    <div class="galleryItemsContainer">
        <div class="galleryItem" *ngFor="let item of entries" (click)="onSelect(item.sys.id)">
            <div class="galleryImageContainer">
                <img [src]="item.fields.featuredImage.fields.file.url">
            </div>
            <div class="title-container">
                <h2 [innerHTML]="item.fields.title"></h2>
            </div>
        </div>
    </div>
</div>