.galleryContainer {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    min-height: 100vh;
    margin-top: 100px;
}

.transitionOne {
    background: linear-gradient(to bottom, white, #c4a986);
    padding-bottom: 2.5rem;
}

.transitionTwo {
    background: linear-gradient(to bottom, #c4a986, black);
    padding-bottom: 2.5rem;
}

.galleryItemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: black;
    flex-grow: 1;
    padding: 1rem;
    justify-content: center;
}

.galleryItem {
    width: 350px;
    height: 350px;
    text-align: center;
    background-color: white;
    box-shadow: 4px 4px 0 lightgrey;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.galleryItem img {
    width: 350px;
    height: 250px;
    align-self: center;
    overflow: hidden;
}

.galleryItem .title-container {
    width: 350px;
    height: 100px;
    font-size: 36px;
}

.galleryItem:hover {
    filter: brightness(80%);
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container h2 {
    margin: 0;
    vertical-align: middle;
    font-size: 4rem;
}