.container {
    margin-top: 100px;
}

.header {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    background-color: white;
    box-shadow: 4px 4px 0 black;
    padding: 1rem;
}

.header .return {
    padding: 1rem;
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    width: 75px;
}

.header .return:hover {
    animation: 0.25s onReturnAnimation ease-in-out forwards;
}

.discussion img {
    float: left;
    margin: 2rem;
    border: thick solid black;
    width: 350px;
    height: 350px;
}

.discussionText {
    padding-top: 1rem;
}

.clearfix {
    clear: both;
}

.remainingImages {
    background-color: black;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
}

.remainingImages img {
    width: 350px;
    border: thick solid white;
}

@keyframes onReturnAnimation {
    0% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: white;
        color: black;
    }
}