.container {
    margin-top: 100px;
}

.header {
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header h1 {
    background-color: white;
    box-shadow: 4px 4px 0 black;
    padding: 1rem;
}

.header .return {
    padding: 1rem;
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    width: 75px;
}

.header .return:hover {
    animation: 0.25s onReturnAnimation ease-in-out forwards;
}

.discussion img {
    float: left;
    margin: 2rem;
    border: thick solid black;
    width: 350px;
    height: 350px;
    cursor: pointer;
}

.discussionText {
    padding-top: 1rem;
}

.clearfix {
    clear: both;
}

.remainingImages {
    background-color: black;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
}

.remainingImages img {
    width: 350px;
    border: thick solid white;
    cursor: pointer;
}

.pop-up-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5)
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.photo-pop-up {
    max-width: 800px;
}

.controls {
    position: relative;
    top: -200px;
    display: flex;
    justify-content: space-between;
    background: none;
    width: 80%;
    margin: 0 auto;
    height: 0;
}

span {
    display: block;
}

.left,
.right,
.close {
    padding: 1rem;
    color: darkgrey;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    border: darkgrey solid thin;
    font-weight: bold;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content:center;
    display: flex;
    justify-content: center;
    align-items: center
}

.close-container {
    height: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.close {
    border-radius: 50%;
    position: relative;
    top: -425px;
    right: -350px;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

@keyframes onReturnAnimation {
    0% {
        background-color: black;
        color: white;
    }
    100% {
        background-color: white;
        color: black;
    }
}